# 팀 이름 정하기

<br>
<br>

## 문제

---

연두는 프로그래밍 대회에 나갈 팀 이름을 정하려고 한다. 미신을 믿는 연두는 이환이에게 공식을 하나 받아왔고, 이 공식을 이용해 우승할 확률이 가장 높은 팀 이름을 찾으려고 한다.

이환이가 만든 공식은 사용하려면 먼저 다음 4가지 변수의 값을 계산해야 한다.

- L = 연두의 이름과 팀 이름에서 등장하는 L의 개수
- O = 연두의 이름과 팀 이름에서 등장하는 O의 개수
- V = 연두의 이름과 팀 이름에서 등장하는 V의 개수
- E = 연두의 이름과 팀 이름에서 등장하는 E의 개수
그 다음, 위에서 구한 변수를 다음 식에 입력하면 팀 이름의 우승할 확률을 구할 수 있다.

((L+O) × (L+V) × (L+E) × (O+V) × (O+E) × (V+E)) mod 100

연두의 영어 이름과 팀 이름 후보 N개가 주어졌을 때, 우승할 확률이 가장 높은 팀 이름을 구해보자. 확률이 가장 높은 팀이 여러가지인 경우 사전 순으로 가장 앞서는 팀 이름이 우승할 확률이 가장 높은 것이다.

### 입력

---
첫째 줄에 연두의 영어 이름이 주어진다. 둘째 줄에는 팀 이름 후보의 개수 N이 주어진다. 셋째 줄부터 N개의 줄에 팀 이름이 한 줄에 하나씩 주어진다.

연두의 영어 이름과 팀 이름은 길이는 1보다 크거나 같고, 20보다 작거나 같으며, 알파벳 대문자로만 이루어져 있다. N은 50보다 작거나 같은 자연수이다.


### 출력
---
첫째 줄에 우승할 확률이 가장 높은 팀 이름을 출력한다.

---

### 예제 입력1

```
LOVE
3
JACOB
FRANK
DANO
```

### 예제 출력1

```
FRANK

```

### 예제 입력2

```
JANE
4
THOMAS
MICHAEL
INDY
LIU
```

### 예제 출력2

```
INDY
```

### 예제 입력3

```
LILLY
1
PIERRE
```

### 예제 출력3

```
PIERRE
```

### 풀이


처음에 이해했을 때는 행에 `X`가 하나라도 없을 경우에만 카운트를 추가하는 것인 줄 알았지만 `답2)` 코드를 적용해보니 오답처리가 되었다.


다시 확인해보니 `행`과 `열`에서 `X`가 있어야 한다.

따라서 

```PYTHON
for j in range(m):
    if "X" not in [board[i][j] for i in range(n)]:
        cnt_b +=1
```

여기에서 행과 열에서 `X`가 없는 경우를 카운트를 해서 

행에만 카운트한 수와 행과 열에서 카운트를 한 수의 최대값이 갑이 된다.

### 답1)

In [76]:
name=list(input())

people=int(input())

LOVE
3

['L', 'O', 'V', 'E']
['L', 'O', 'V', 'E']
['L', 'O', 'V', 'E']
['L', 'O', 'V', 'E']

In [82]:
for i in range(people):
    p=input()
    cnt=0
    for word in name:
        for i in p:
            if word == i:
                cnt+=1

TOMAS
ASDASD
SADAS

In [84]:
p[1]

'A'

### 답2)

In [73]:
for woman_idx in range(N):
    woman_name =

12