# D-Day

<br>
<br>

## 문제

---

캠프에 오게 된 송유진은 캠프가 너무 지루해서 오늘로부터 캠프가 끝날 때 까지 며칠이나 남았는지 알아보고 싶었다. 그런데 캠프는 비상식적으로 길지도 몰라서 (윤년을 포함할지도 모른다) 손으로 하나하나 세기에는 힘들어 보였다.

더욱 정확한 계산을 위해, 유진이는 윤년이 정해지는 기준을 찾아보았고, 그것은 다음과 같았다.

- 서력기원 연수가 4로 나누어떨어지는 해는 우선 윤년으로 한다. (2004년, 2008년, …)
- 100으로 나누어떨어지는 해는 평년으로 한다. (2100년, 2200년, …)
- 400으로 나누어떨어지는 해는 다시 윤년으로 한다. (1600년, 2000년, …)
그런데 캠프가 너무 길 경우, 사춘기인 유진이는 캠프에 무단으로 빠질지도 모른다.

### 입력
---
첫째 줄에 오늘의 날짜가 주어지고, 두 번째 줄에 D-Day인 날의 날짜가 주어진다. 날짜는 연도, 월, 일순으로 주어지며, 공백으로 구분한다. 입력 범위는 1년 1월 1일부터 9999년 12월 31일 까지 이다. 오늘의 날짜는 항상 D-Day보다 앞에 있다.


### 출력
---

오늘부터 D-Day까지 x일이 남았다면, "D-"를 출력하고 그 뒤에 공백 없이 x를 출력한다. 만약 캠프가 천년 이상 지속된다면 (오늘이 y년 m월 d일이고, D-Day가 y+1000년 m월 d일과 같거나 늦다면) 대신 "gg"를 출력한다. 오늘이 2월 29일인 경우는 주어지지 않는다.

### 예제 입력1

```
2008 12 27
2009 1 22
```

### 예제 출력1

```
D-26
```

---

### 풀이

### 답1)

![](https://wikidocs.net/images/page/88691/leap_year.png)

In [179]:
# 윤년의 조건
year = int(input())

if ((year%4==0) and (year%100!=0))or(year%400==0):
    print(year, "년은 윤년입니다.")
else:
    print(year, "년은 윤년이 아닙니다.")

3008
3008 년은 윤년입니다.

In [175]:
from dateutil.relativedelta import relativedelta
import datetime as dt 

y1,m1,d1 = map(int, input().split())
y2,m2,d2 = map(int, input().split())


start=dt.date(y1,m1,d1)
finish=dt.date(y2,m2,d2)

ddays=finish-start
dday=ddays.days

#after_1000year=start+dt.timedelta(days=365*1000)
# 윤년의 하루 365.2422 천년이면 365242.2 일
after_1000year=start+relativedelta(years=1000)

if dday>=(after_1000year-start).days+1:
    print('gg')
else:
    print(f'D-{dday}')

2008 12 27
2009 1 22
D-26

In [135]:
ddays

datetime.timedelta(days=26)

In [136]:
import datetime as dt
now = datetime.datetime.now()
now_after_777 = now + datetime.timedelta(days=365*1000)

print(now_after_777)  # 2021-04-14 21:15:54.891525

3021-03-19 01:48:52.343995

In [142]:
x=dt.datetime.now()
after_1000year=start+datetime.timedelta(days=365*1000)
after_1000year

datetime.date(3008, 4, 29)

In [148]:
after_1000year=start+dt.timedelta(days=1000)

In [150]:
after_1000year

datetime.date(2011, 9, 23)

In [161]:
from dateutil.relativedelta import relativedelta
import datetime as dt 

after_1000year=start+relativedelta(years=1000)

In [176]:
# 1000년뒤의 윤년
(after_1000year-start).days+1

365243