# 막대기

<br>
<br>

## 문제

---

재원이는 한 도시의 시장이 되었다. 이 도시에는 도시를 동쪽과 서쪽으로 나누는 큰 일직선 모양의 강이 흐르고 있다. 하지만 재원이는 다리가 없어서 시민들이 강을 건너는데 큰 불편을 겪고 있음을 알고 다리를 짓기로 결심하였다. 강 주변에서 다리를 짓기에 적합한 곳을 사이트라고 한다. 재원이는 강 주변을 면밀히 조사해 본 결과 강의 서쪽에는 N개의 사이트가 있고 동쪽에는 M개의 사이트가 있다는 것을 알았다. (N ≤ M)

재원이는 서쪽의 사이트와 동쪽의 사이트를 다리로 연결하려고 한다. (이때 한 사이트에는 최대 한 개의 다리만 연결될 수 있다.) 재원이는 다리를 최대한 많이 지으려고 하기 때문에 서쪽의 사이트 개수만큼 (N개) 다리를 지으려고 한다. 다리끼리는 서로 겹쳐질 수 없다고 할 때 다리를 지을 수 있는 경우의 수를 구하는 프로그램을 작성하라.

![](https://www.acmicpc.net/upload/201003/pic1.JPG)

### 입력

---
입력의 첫 줄에는 테스트 케이스의 개수 T가 주어진다. 그 다음 줄부터 각각의 테스트케이스에 대해 강의 서쪽과 동쪽에 있는 사이트의 개수 정수 N, M (0 < N ≤ M < 30)이 주어진다.

<br>

### 출력
---
각 테스트 케이스에 대해 주어진 조건하에 다리를 지을 수 있는 경우의 수를 출력한다.

### 예제 입력1

```
3
2 2
1 5
13 29
```

### 예제 출력1

```
1
5
67863915
```

---

### 풀이 1)

In [ ]:
# X보다 크다면,

## 1) 가장 짧은 것을 1/2 = a
## 2) 절반 중 하나를 버리고 남아 있는 막대의 길이의 합이 x<= a
## 절반 중 하나를 버림

# 남아 있는 모든 막대 +

In [2]:
t=int(input())

3

In [73]:

for _ in range(t):
    n,m = map(int, input().split())
    s=1
    if n==m:
        s=n//m
    if n==1 and n<m:
        s=n*m
    if n!=1 and n<m:
        a=m-n+1
        for i in range(a,0,-1):
            s*=i
    print(s)

13 29
355687428096000
13 29
355687428096000
13 29
355687428096000

In [ ]:
a='39916800'
len(a)

In [63]:
print(3991680*2)

7983360

In [53]:
b='67863915'
len(b)

8

In [77]:
20922789888000//6227020800

3360

In [41]:
16**

208

In [76]:
n=int(input())
s=1
for i in range(n,0,-1):
    s*=i
    
    
print(s)

16
20922789888000

### 풀이 2)

In [47]:
8841761993739701954543616000000//6227020800

1419902434522091520000

In [ ]:
# 1010번

def factorial(n):
    num = 1
    for i in range(1, n+1):
        num *= i
    return num


T = int(input())

for _ in range(T):
    n, m = map(int, input().split())
    bridge = factorial(m) // (factorial(n) * factorial(m - n))
    print(bridge)