# 꼬리를 무는 숫자 나열


<br>
<br>

## 문제

---
동물원에서 막 탈출한 원숭이 한 마리가 세상구경을 하고 있다. 그 녀석은 원주 부근을 돌아다니다가 코레스코 콘도에서 아주 재밌는 놀이를 발견했다. 그 놀이의 이름은 바로 “꼬리를 무는 숫자 나열”. 이제부터 원숭이가 그토록 좋아하던 그 놀이를 파헤쳐보자.

놀이의 방법은 간단하다. 일단 4줄짜리 표에 왼쪽부터 수를 아래로 1부터 순서대로 적어나간다. 다음에 그 예가 잘 나타나있다. 


![](https://www.acmicpc.net/upload/201004/psw1.png)

이제 원숭이는 두 개의 자연수를 아무거나 생각한다. 그리고 숫자판에서 두 개의 자연수 사이의 직각거리를 구하면 된다. 여기서 직각거리는 동서방향거리와 남북방향거리의 합을 뜻한다.

예를 들어 저 숫자판에서 11과 33을 생각했다고 하자. 그렇다면 11과 33사이의 직각거리는 8이 된다.(동서방향거리 : 6, 남북방향거리 : 2) 다음 그림에 잘 나타나있다.

![](https://www.acmicpc.net/upload/201004/psw2.png)

하지만 원숭이는 지금 혼란스럽다. 동물원에서 탈출한지 얼마 되지 않아서 계산을 할 수 없는 경지에 이르렀다. 여러분이 불쌍한 원숭이를 좀 도와줘야겠다. 원숭이가 생각한 두 자연수 사이의 직각거리를 구하는 프로그램을 작성하시오.


### 입력
---
첫째 줄에 원숭이가 생각한 두 개의 자연수가 주어진다. 각 수는 10,000,000 이하이다.

### 출력
---
첫째 줄에 원숭이가 생각한 두 개의 자연수 사이의 직각거리를 출력한다.

### 예제 입력1

```
11 33
```

### 예제 출력1

```
8

```

----

### 풀이

`list(input()`을 다시 `list(map(int, list(input()))`로 하면서 리스트안에 리스트가 생성된다. 그리고 `input`으로 입력된 값은 리스트 처리가 되면서 각 자리수당 인덱싱이 가능하다.

##### 풀이 1)

In [213]:
import math as m

num_list1=[]
num_list2=[]


num1, num2 = map(int, input().split())

num_list1.append(m.ceil(num1/4))
num_list2.append(m.ceil(num2/4))


if num1%4!=0:
    num_list1.append(num1%4)
else:
    num_list1.append(4)
    
if num2%4!=0:
    num_list2.append(num2%4)
else:
    num_list2.append(4)
    
distance = abs(num_list2[1]-num_list1[1]) + abs(num_list2[0]-num_list1[0])

print(distance)

11 36
7

In [214]:
num_list1

[3, 3]

In [215]:
num_list2

[9, 4]

##### 풀이 2)

우선, 원점을 0으로 생각하기 위해 입력받은 값에서 각 1을 빼줍니다.

그후, 가로 좌표는 4로 나눈 몫으로, 세로 좌표는 4로 나눈 나머지로 각각 구하여 계산하면 끝입니다.

In [ ]:
a,b=map(int,input().split())
a-=1;b-=1
print(abs(a//4-b//4)+abs(a%4-b%4))

##### 풀이 3)

In [216]:
a, b = map(int, input().split())
x1 = (a-1)//4 + 1 
y1 = (a-1)%4
x2 = (b-1)//4 + 1 
y2 = (b-1)%4
print(abs(x2-x1) + abs(y2-y1))

11 36
7

In [217]:
x1

3

In [218]:
y1

2

In [219]:
x2

9

In [220]:
y2

3